<!DOCTYPE html>
<html>
<head>
    <title>Upload Image</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
</head>

<body>
    <div class="container text-center">
            <br><br>
        <h1>Server Online</h1>
            <br><br><br>
        <h3>Upload your image file for storage and embedding:</h3>
            <br><br>
        <form method=POST enctype=multipart/form-data action="{{ url_for('get_image') }}">
            <input type=file name=file class="btn btn-outline-dark">
            <input type="submit" class="btn btn-outline-dark">
        </form>
            <br><br><br><br><br>
        <a href="{{ url_for('predict_page') }}" class="btn btn-outline-dark">Click here for image identity prediction!</a>
            <br><br><br>
        <a href="{{ url_for('face_detect_live') }}" class="btn btn-outline-dark">Click here for live facial recognition with Web Camera! (press 'q' key to quit)</a>
    </div>
</body>
</html>